spring:
  flyway:
    enabled: true
    locations: classpath:db/migration




  jpa:
    hibernate:
      ddl-auto: validate


    show-sql: true
    generate-ddl: false

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
